<nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand">PartizanBC</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li><a routerLinkActive="class: active" routerLink="/">About us</a></li>
          <li><a routerLinkActive="class: active" routerLink="players">Players</a></li>
          <li><a routerLinkActive="class: active" routerLink="coaches">Coaches</a></li>
          <li><a routerLinkActive="class: active" routerLink="contact">Contact Us</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><img src="https://tinyurl.com/rr8s5o7" alt="" class="img-responsive" style="height: 45px;"></li>
         
        </ul>
      </div>
    </div>
  </nav>
