<p>
BC Partizan is the most successful basketball club in Serbia.     
During its more than six decades long history, Partizan has won as many as 30 trophies.    
The "Black and White" players were the state champions fifteen times     
(1976, 1979, 1981, 1987, 1992, 1995, 1996, 1997, 2002, 2003, 2004, 2005, 2006, 2007 and 2008),     
they won the National Cup nine times (1979, 1989, 1992, 1994, 1995, 1999, 2000, 2002 and 2008),     
three times they won the European Cup Radivoje Korac 1978, 1979, 1989 and they were champions of the 
Adriatic League twice (2007, 2008).
The most significant trophy the club has won is the European Champion trophy at the Final Four of the 
European Champion's Cup in Istanbul in 1992.
BC Partizan has grown into the most famous basketball brand from Serbia
and team acclaimed both on the European and World levels. 
Partizan has earned respect not only by winning and constantly participating in the European competitions,
but also thanks to a multitude of its players that have worn the jersey of the National team, 
the squad who has conquered the world earning fame and trophies for our country. No European team 
has given as much players in the world best league NBA as Partizan did and they have always 
been the trademark of the country which was multiple European and World basketball champion.
Our club is enduring not only for results but for way of working in the club and club's principles. 
Developing young players and their talents is something that makes Partizan stand out and be recognizable all over the world.
</p>
<p>
Basketball Club Partizan. BC Partizan. The Black and Whites. 
The previous season, the best again. Season 2007/2008 is pronounced as one of the most successful 
in the rich history of the club. 
The Black and Whites won all three trophies and managed to get in the Euroleague Top 8 elite. ž
It's been said that it is much easier to win a trophy than to defend it. Therefore, 
the Black and Whites made a step further in the season 2008/2009. 
They did not let The Cup of Radivoj Korać walk away from the club's trophy room, 
they did show the region who are the back-to-back-to-back champions of the NLB league, 
and continued the domination in the National League winninig it for the eighth consecutive time. 
It is hard to say that the trophies were just won, ALL three trophies were defended in the last season.
</p>
<p>
Magical games, Dule's favourites displayed in Europe, amased the complete basketball audience in Europe. 
The Black and Whites were winning the thriller matches through the whole season, 
beating bitter rivals in Pionir and away, the fans were magical again and supported their club to the 
Euroleague's best 16 and then to the Top 8 proving to be the creme del'a creme of Europe. 
The success from the previous season was repeated with a slight step further: 
Partizan 2008/2009 team and the true fans of the Humska club broke the attendance record of the Euroleague. 
The crown of the amazingly successful season was the fact that the Belgrade Arena was packed 
to its full capacities. Moreover, the first basketball game of the clubs played in Arena 
will be marked as the most visited in the club's history, the history of the Sports Association 
and the history of Belgrade and Serbia.
And... the magnificent basketball season was properly rewarded as the recognitions 
for the great work started arriving in Humska 1. Sports Association of Belgrade presented 
our club with the 'May Award' for great sports achievements, The Head Coach Duško Vujošević 
was awarded with the prestigious Aliaksandr Gomelski prize as the best European coach in the 
season, while the Black and Whites received the invitation for the NBA tour in order to represent 
the Euroleague in the USA.
</p>